* {
    margin: 0;
    padding: 0;
}

.html, body {
    overflow: hidden;
}

#score {
    position: absolute;
    font-size: 32px;
    font-family: Montserrat;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    color:crimson;
    white-space: nowrap;
}

#title {
    position:fixed;
    font-size: 20px;
    font-family: Montserrat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    max-width: 90%;
    text-align: center;
    color: crimson;
    white-space: nowrap; 
}


#score {
    position: absolute;
    font-size: 32px;
    font-family: Montserrat;
    top: 20px;
    margin-left: 40%;
    color:crimson
}