* {
    margin: 0;
    padding: 0;
}

.html, body {
    overflow: hidden;
}

#score {
    position: absolute;
    font-size: 32px;
    font-family: Montserrat;
    top: 20px;
    margin-left: 40%;
    color:crimson
}